@page "/proyectos/create"
@using Pomodoro.Shared.Dtos

@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "Admin")]

<h3>Crear Nuevo Proyecto</h3>

<EditForm Model="nuevoProyecto" OnValidSubmit="Create">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre del Proyecto</label>
        <InputText id="nombre" class="form-control" @bind-Value="nuevoProyecto.Nombre" />
    </div>

    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción del Proyecto</label>
        <InputTextArea id="descripcion" class="form-control" @bind-Value="nuevoProyecto.Descripcion" />
    </div>

    <button type="submit" class="btn btn-primary">Crear Proyecto</button>
    <button type="button" class="btn btn-secondary" @onclick="CancelCreate">Cancelar</button>
</EditForm>

@code {
    private CrearProyectoDto nuevoProyecto = new CrearProyectoDto();

    private async Task Create()
    {
        // Enviar la solicitud POST para crear el nuevo proyecto
        var response = await repository.Post("/api/proyectos", nuevoProyecto);
        if (response.Error)
        {
            var mensajeError = await response.GetErrorMessage();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            return;
        }

        // Muestra el mensaje de éxito y redirige a la lista de proyectos
        await swal.FireAsync("Éxito", "Proyecto creado exitosamente.", SweetAlertIcon.Success);
        navigationManager.NavigateTo("/proyectos");
    }

    private async Task CancelCreate()
    {
        // Muestra la alerta de confirmación de cancelación
        var confirmResult = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Está seguro de que desea cancelar la operación?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Sí",
                CancelButtonText = "No"
            });

        if (confirmResult.IsConfirmed)
        {
            // Si el usuario confirma, redirige a la lista de proyectos
            navigationManager.NavigateTo("/proyectos");
        }
    }
}
