@using Pomodoro.WEB.Shared
@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    @* Sidebar visible solo en ciertas páginas *@
    @if (IsSidebarVisible())
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center">
            <AuthorizeView>
                <Authorized>
                    <div class="user-info d-flex align-items-center">
                        <span>Hola, @context.User.Identity!.Name</span>
                        <a href="Logout" class="nav-link btn btn-link">Cerrar Sesión</a>
                    </div>
                </Authorized>

                <NotAuthorized>
                    @* No se muestra nada en el caso de que no esté autorizado *@
                </NotAuthorized>
            </AuthorizeView>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsSidebarVisible()
    {
        var currentUri = Navigation.Uri.ToLower();
        return currentUri.Contains("dashboard") ||
               currentUri.Contains("proyectos") ||
               currentUri.Contains("tareas") ||
               currentUri.Contains("sesionespomodoro") ||
               currentUri.Contains("historial-sesiones") ||
               currentUri.Contains("tecnicas-estudio") ||
               currentUri.Contains("juegos") ||
               currentUri.Contains("recompensas");
    }
}