@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    @* Only show the sidebar on specific pages *@
    @if (IsSidebarVisible())
    {
            <div class="sidebar">
                <NavMenu />
            </div>
    }

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsSidebarVisible()
    {
        var currentUri = Navigation.Uri.ToLower();
        return currentUri.Contains("dashboard") ||
               currentUri.Contains("proyectos") ||
               currentUri.Contains("tareas") ||
               currentUri.Contains("sesionespomodoro") ||
               currentUri.Contains("historial-sesiones") ||
               currentUri.Contains("tecnicas-estudio");
    }
}
