@using Pomodoro.WEB.Shared
@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    @* Sidebar visible solo en ciertas páginas *@
    @if (IsSidebarVisible())
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center" style="background-color: #f7f7f7; border-bottom: 1px solid #d6d5d5; height: 3.5rem; display: flex; align-items: center;">
            @* Aquí referenciamos el componente AuthLinks *@
            <AuthLinks />

            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" style="white-space: nowrap; margin-left: 1.5rem; text-decoration: none;">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsSidebarVisible()
    {
        var currentUri = Navigation.Uri.ToLower();
        return currentUri.Contains("dashboard") ||
               currentUri.Contains("proyectos") ||
               currentUri.Contains("tareas") ||
               currentUri.Contains("sesionespomodoro") ||
               currentUri.Contains("historial-sesiones") ||
               currentUri.Contains("tecnicas-estudio") ||
               currentUri.Contains("juegos") ||
               currentUri.Contains("recompensas");
    }
}
